@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Free version</h1>
    <img src="/Home/GetImageFree" />
    <h1 class="display-4">Paid version</h1>
    <img src="/Home/GetImagePaid" />
</div>
